body
{	
	margin:0;
    padding:0;
    border:0;
    width:100%;
    height:100%;
}

#menubar
{
	background-color:black;
	height:90px;
	width:100%;
}

#menubar img
{
	height: 80%;
	float: right;
	margin: 10px 50px 10px 0px;
}

#menubar #homelink
{
	float: left;
	margin: 10px 0px 10px 20px; 
}

#wrapper
{
	width:100%;
	height:100%;
	position:absolute;
}

#sidebar 
{
	background-color:blue;
	float:left;
	width:225px;
	overflow:auto;
}

#display-area 
{
	background-color:green;
	margin-left:225px;
	overflow:hidden;
}

#bookmenubar
{
    height:25px;
    clear:both;
    float:left;
    width:100%;
    top:0px;
    background-color:blue;
}

#bookarea
{
	top: 25px;
	background-color:red;
	width:100%;
	height:100%;
	clear:both;
    float:left;
}

#book
{
	width: 100%;
	height: 100%;
	padding: 15px 0 15px 10px;
    position: relative;
}


#content
{
	position: absolute;
	top: 9999px;
	left: 9999px;
	overflow:hidden;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.page {
	width: 500px;
	height: 500px;
    border: 5px solid #ccc;
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: block;
    float: left;
}

ul#grid li {
  list-style: none outside;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  
  text-align: center;
}
ul#grid li img {
  vertical-align: middle;
}
